button {
    padding: 4px 12px;
    outline: none;
    border-radius: 3px;
    background-color: #06c755;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}

input {
    flex: 1 1 auto;
    line-height: 44px;
    padding: 0 4px 0 13px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: solid 1px #fff;
    border-radius: 5px
}
